<div class="jumbotron">
  <h1>myFinPort Web Service API</h1>
  <p class="lead">
    myFinPort API is a free Application Programmer's Interface for building your own
    great online financial control center.
  </p>
  @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Swagger &raquo;</a></p>*@
  <p><a href="/Swagger/ui/index" class="btn btn-primary btn-lg">Swagger &raquo;</a></p>

</div>
<div class="row mr-3">
    <div class="col-md-4">
        <h2>Endpoint</h2>
        <p>
          Please use the endpoint myfinportapi.azurewebsites.net for your API calls.
        </p>
        <p>
          For example: myfinportapi.azurewebsites.net/GetDataForSingleTransaction?id=1
        </p>
        <p><a class="btn btn-default" href="/Swagger/ui/index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3 mx-3">
      <h2>Useful links</h2>
      <p>Would you like to know more about Swagger?</p>
      <p><a class="btn btn-default" target="_blank" href="https://swagger.io/docs/specification/2-0/what-is-swagger/">What is Swagger? &raquo;</a></p>
    </div>
    <div class="col-md-3 mx-2">
        <h2>myFinPort App</h2>
        <p>You can always just use the hosted myFinPort app if you like.</p>
        <p><a class="btn btn-default" href="https://myFinPort.azurewebsites.net" target="_blank">myFinPort &raquo;</a></p>
    </div>
</div>
